{% extends "base.html" %}
{% load static %}
{% block title %}DCA Airport Shuttle & Car Service{% endblock %}

{% block content %}
<section class="banner">
  <img src="{% static 'img/dca.jpeg' %}" alt="DCA Shuttle">
  <div class="banner-text">
    <!--<h1>Travel in Style with Our Premium DCA Airport Transfers & Shuttle</h1>-->
    <a href={% url 'reservation' %}" class="btn">Book Reservation</a>
  </div>
</section>

  <div class="container my-5">
  <!-- Section 1 -->
  <div class="row align-items-center mb-5 service-section" data-aos="fade-up" data-aos-duration="800">
    <div class="col-md-6">
      <img src="{% static 'img/dca1.jpeg' %}" class="img-fluid service-img" alt="Airport Transfers" loading="lazy" />
    </div>
    <div class="col-md-6">
      <h3>Travel in Style with Columbia Transportation’s Premium DCA Columbia Transportation</h3>
        <p>Step into the heart of Washington, D.C., in style and ease. DCA Airport Transportation by Columbia Transportation makes sure your journey begins and ends as smoothly as you leave from the iconic Reagan National Airport. Whether you are traveling alone, with family, or in a large group, our DCA Airport Transfers ensure comfort, punctuality, and elegance. Let us redefine your journey with seamless pickups, professional chauffeurs, and luxury Fleet vehicles tailored to your needs.</p>
    </div>
  </div>

<section class="features">
  <h2>Why Choose Our DCA Airport Transportation Services?</h2>
  <ul>
    <li>Domestic vs. International Flights</li>
    <li>Curbside Service</li>
    <li>Meet & Greet Service</li>
  </ul>
</section>

<section class="airport-info">
  <h2>Ronald Reagan Washington National Airport (DCA): Your Gateway to the Capital</h2>
  <p>As a major hub for domestic and international travel, Ronald Reagan Washington National Airport (DCA), is the gateway to the nation's capital. The capital is home to many key destinations like, US Supreme Court, IMF, World bank, George Washington Monument, Army & Navy Headquarter. DCA connects travelers to destinations around the world. Whether you are going to catch a flight or arriving, our DCA airport car service ensures smooth airport transportation to and from this strategically located airport, making it easy to connect with the heart of the city.</p>
</section>

<section class="amenities">
  <h3>Amenities at DCA Airport</h3>
  <p>DCA is more than just an airport. It's a haven for travelers that offers world-class amenities. Enjoy a savory meal at Taj Hotel, or get in and out quickly from the Capital grill before your flight. If shopping is your thing, look no further, as the airport provides stores such as District Market and Tumi. If you want to stay overnight, Crystal Gateway Marriott and Hyatt Regency Crystal City are just a short ride away, offering luxurious stays with easy access to DCA. Maybe you would love to visit the Wharf waterfront for a stunning riverside view, which is just minutes away from the airport. So, here comes AS4L’s DCA airport transfer services in action.</p>
</section>

<section class="curbside">
  <h3>Effortless Curbside Pickup</h3>
  <p>Navigating Reagan National Airport (DCA) is easier than ever, thanks to Columbia Transportation by your side. With Columbia Transportation's curbside pickup, you will have a smooth transition from terminal to vehicle, regardless of whether you are heading to Bethesda, MD,Alexandria, VA, or anywhere else. Our professional chauffeurs ensure a hassle-free and efficient start or end to your journey. They will assist you with your luggage, and help avoid parking hassles too. For specific terminals, we navigate effortlessly, such as Terminal A for airlines like Air Canada and Southwest or the multi-level Terminals B, or D, ensuring a hassle-free and personalized experience tailored to your schedule.</p>
</section>

<section class="meet-greet">
  <h3>Meet‑and‑Greet Service For You At DCA Airport</h3>
  <p>Imagine arriving at DCA Airport with a chauffeur who will meet you at the airport and Welcome you with a customized sign to assist you in luggage and to ensure you have a hassle-free journey. From here, whether you would like to enjoy your stay in one of the luxurious hotel rooms in Pentagon City, Ritz-Carlton, or embark on a scenic Mount Vernon tour, our DCA limo service will take you there comfortably. For those individuals who prefer the exclusivity of a dedicated service, there is also Greeter Service. There's a premium option-where you get a private greeter who meets you at baggage claim, guides you through the airport and escorts you to the limo curb where your chauffeur awaits to take you to the destination of choice.</p>
</section>


  <div class="container my-5">
  <!-- Section 1 -->
  <div class="row align-items-center mb-5 service-section" data-aos="fade-up" data-aos-duration="800">
    <div class="col-md-6">
      <img src="{% static 'img/dca2.jpeg' %}" class="img-fluid service-img" alt="Airport Transfers" loading="lazy" />
    </div>
    <div class="col-md-6">
      <h3 class="color-red">Explore Our Premium Fleet for DCA Airport Transfers</h3>
      <p>AirportShuttles4Less provides a fleet of vehicles suitable for every need of travel-from luxurious Limousines and roomy Suvs to spacious Vans and elegant Sedans. Whether you're traveling solo to Dupont Circle or need a van for a group travel, or visit to Arlington National Cemetery, our versatile fleet ensures a comfortable and stylish ride, making your journey to DCA and beyond seamless.</p>
    </div>
  </div>

<section class="coverage">
  <h3>Airport Transportation Across Washington, D.C., Maryland, and Virginia (DMV)</h3>
  <p>At AS4L, we offer a broad array of Airport transportation around the entire DMV, allowing for access to essential places throughout Washington D.C., Maryland, and Virginia. The Popular sites we serve include Arlington, MD Rockville, MD and Falls Church, VA. From a Private car service booked for your meeting in Georgetown or simply seeking a shuttle service from the airport to Capitol Hill on a sightseeing tour, we ensure the comfort of riding every time. We will cover your journey outside of the airport with convenience to assure the comfort of every travel that you make with us.</p>
</section>

<section class="services">
  <article>
    <h4>Cheap DCA Transportation Services: Convenience for Every Traveler</h4>
    <p>Columbia Transportation also have the option of affordable DCA Transportation Services that are tailored to suit the pocket of those in need of saving. Whether traveling in groups or solo, our DCA shuttle services cater to both shared and private rides at pocket-friendly prices. Our shuttles are perfect for budget destinations such as the L'Enfant plaza,National Air and Space Museum, or Corporate groups going to Tysons Corner Center for a meeting. If you are looking for a quick and affordable ride to popular spots like Arlington's Ballston Quarter Mall ,or Union Station, our DCA Shuttle Service is for you. It ensures a smooth journey by making your experience both cost-effective and hassle-free.</p>
  </article>
  <article>
    <h4>DCA Limousine Services: Luxury Redefined</h4>
    <p>Elevate your journey with our premium DCA limousine service. No matter if you’re attending a gala at The Watergate Hotel, enjoying fine dining at Blue Duck Tavern, or heading to The MGM National Harbor for an unforgettable evening; from the airport. Our Limo service to DCA ensures a sophisticated and comfortable ride. Perfect for business trips, weddings, or special occasions, our limos provide the ultimate blend of style and comfort.</p>
  </article>
  <article>
    <h4>DCA Van Service: Perfect for Large Groups</h4>
    <p>Just arrived at DCA and need to get your group to the next stop? Our DCA spinter Van Service is the perfect choice. Whether you're heading to a game at Nationals Park, or a wedding in Chevy Chase, MD, our 14 Pax van service to DCA for Large Groups provides comfort and convenience. There's always enough room, luggage, and everything within, so you can chill and let our professional drivers carry you to your destination while making sure your group or party will arrive without any hassle.</p>
  </article>
  <article>
    <h4>Best Executive Car Service for DCA</h4>
    <p>Isn’t it amazing that you just arrived at DCA, and our Executive car service for DCA is standing by to get you where you need to go in comfort and style. Maybe you are going to a crucial meeting in McLean, VA, a conference at the Walter E. Washington Convention Center, or a business dinner in Georgetown, DC; whatever it is, we've got you covered with our DCA sedan service. Our professional chauffeurs make sure you reach in time and safely so you can work if you need to or de-stress after the hassle of the flight. Executive car service from DCA ensures your travel is seamless, efficient, and classy.</p>
  </article>
</section>

<!--<section class="booking" id="booking">-->
<!--  <h3>Need to Book?</h3>-->
<!--  <p>Call us at <strong>+1 (443) 336-3333</strong> or reserve online.</p>-->
<!--</section>-->

{% endblock %}
